{% extends "template-base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/content-base.css') }}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
        <section class="intro-section">
            <div class="container">
                <h1> {% block page_maintitle %}{% endblock %}</h1>
                <p class="intro-description">{% block page_subtitle %}{% endblock %}</p>
            </div>
        </div>
        <div class="section">

            <div class="container">
                <nav class="breadcrumb" aria-label="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <ol>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a href="/" itemprop="item"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <span itemprop="name">{% block page_menutitle %}{% endblock %}</span>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </nav>
            
                <article class="content-article">
                    {% block page_content %}{% endblock %}
                </article>           
        </div>
</div>
{% endblock %}



{# if to aligned with menu
<section class="intro-section">
    <div class="container">{% block page_header %}{% endblock %}</div>
</div>
<div class="section">
    {% block page_content %}{% endblock %}
</div>
#}