.icon-placeholder {
    visibility: hidden;
    pointer-events: none;
}


.icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px; /* Adds padding to the left and right of the icon */
    vertical-align: middle; /* Aligns the icon vertically with the input field */
}