 /* Blog specific styles */
 .article-category {
     color: var(--accent-color);
     font-size: 0.9375rem;
     font-weight: 500;
     margin-bottom: 1rem;
     display: block;
     text-align: left;
 }