@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@300:400:500:600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Popins', sans-seric;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  wheat;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}