.is-hidden { display: none; }
.strategic-item, .rebal-item { margin-bottom: 1.5rem; }
.delete-button { margin-top: 0.5rem; }
.section { padding: 3rem 1.5rem; }
.container { max-width: 800px; margin: auto; }
.columns.is-multiline > .column { flex: 1; max-width: calc(33% - 0.75rem); }
.delete-rebal { background: none; border: none; color: red; font-size: 1.2em; }
.button-row { display: flex; justify-content: space-between; align-items: center; }
@media screen and (max-width: 768px) {
    .columns.is-multiline > .column { max-width: 100%; }
}

.icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    vertical-align: middle;
}
.icon-placeholder {
    visibility: hidden;
    pointer-events: none;
}

.strategic-item {
    position: relative;
}

.add-rebal .fas {
    font-size: 16px;
    color: #23d160;
}

.delete-rebal .fas {
    font-size: 16px;
    color: #ff3860;
}

/* Center align add buttons */
.button.add-fund,
.button.add-expense,
.button.add-income {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center align strategic checkboxes */
#stg-min_spend,
#stg-apply-bucket {
    margin: 0 auto;
    display: block;
}

