<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World Page</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Add Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
        .delete-button {
            cursor: pointer;
            margin-left: 100px;
            color: #490815;
            border: none;
            background: none;
        }
        .fa-trash-alt {
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <!-- Bulma styled content -->
    <section class="section">
        <div class="container">
            <h1 class="title">Hello, World! e</h1>
        </div>
        <button class="delete-button" >
            <i class="fas fa-trash-alt"></i>
        </button>
    </section>
</body>
</html>
