

<section class="section">
    <div class="container">
        <!-- <h1 class="title has-text-centered">strategic Tracker</h1>-->
        <div id="strategic-container">
            <!-- strategic Template -->
            <div class="box strategic-item">       
                  
                <div class="field is-grouped">
                  <div class="control is-expanded">
                    <label class="label">Apply Spending Reduction                                                                                  
                        <span class="icon">
                            <i class="fas fa-question-circle" title="When you enable 'Apply Spending Reduction,' the app will automatically adjust your spending based on the 'Expense Reduction Rate' you've set for each expense category during periods of bad market. This feature helps you simulate and implement spending strategies to mitigate the impact of market downturns on your financial plan."></i>
                        </span>
                    </label>
                    <div class="control">
                        <input  id="stg-min_spend" type="checkbox" onclick="onClickApplyMin(this)"/>
                    </div>
                  </div>
                  <div class="control is-expanded">
                    <label class="label">Apply Bucket Strategy                                                                                                      
                        <span class="icon">
                            <i class="fas fa-question-circle" title="The 'Apply Bucket Strategy' setting enables a withdrawal approach where funds are drawn from your safer investments first, preserving riskier investments for later. This strategy aims to reduce the impact of market volatility on your retirement funds. Additionally, you have the option to pause rebalancing during downturns in the market, providing further control over your investment strategy"></i>
                        </span>
                    </label>
                    <div class="control">
                        <input  id="stg-apply-bucket" type="checkbox" onclick="onClickApplyBucket(this)"/>
                    </div>
                  </div>
                </div>        
              
                <div id="stg-next-option" class="field is-grouped ">
                    <div class="control is-hidden" id="stg-exp-return-rate">
                        <label class="label">Minimum Annual Return %                                                                                                                             
                            <span class="icon">
                                <i class="fas fa-question-circle" title="The 'Market Threshold Rate' defines the minimum acceptable annualized return for your investments, based on a time-weighted average since your retirement. If the historical annualized return falls below this rate, the system identifies it as a bad market condition. This threshold helps you make informed decisions about rebalancing and spending during varying market conditions."></i>
                            </span>
                        </label>
                        
                            <input class="input is-primary" type="number" id="stg-min_rate" name="stg-min_rate" step="0.01" min=1  placeholder="e.g. 3%" onChange="validateStgReturnRate(this)">
                   
                    </div>
                    <div class="control is-expanded is-hidden" id="stg-risky-fund">
                        <label class="label">Risky Fund                                                                                                                                                 
                            <span class="icon">
                                <i class="fas fa-question-circle" title="The system selects the 'risky fund' based on an 'Index' return type. This fund is designated for secondary withdrawal, following the depletion of the 'safer fund,' to potentially enhance your investment growth over time." ></i>
                            </span>
                        </label>
                        <div class="select is-fullwidth is-primary">
                          <select id="stg-risky-fund-sel" onchange="changeRiskyFund()">
                              <!-- Options will be populated by JavaScript fundSelect-stg-pref-with-->
                            </select>
                        </div>
                    </div>
                    <div class="control is-expanded is-hidden" id="stg-safer-fund">
                      <label class="label">Safer Fund                                                                                                                                                        
                        <span class="icon">
                            <i class="fas fa-question-circle" title="The system automatically filters and selects funds with a 'flat' return rate as 'safer funds' .This fund is prioritized for withdrawal before  'risky fund' "></i>
                        </span>
                      </label>
                      <div class="select is-primary is-fullwidth">
                        <select  id="stg-safer-fund-sel">
                            <!-- Options will be populated by JavaScript -->
                          </select>
                      </div>
                    </div>
                    <div class="control is-hidden" id="stg-rebal-opt">
                      <label class="label">Bad Market Rebalance Option                                                                                                                                                                        
                        <span class="icon">
                            <i class="fas fa-question-circle" title="The 'Bad Market Rebalance' option gives you control over how your portfolio responds to market downturns.
- **Pause from Risky to Safer Only**: If you want to avoid locking in losses from selling riskier assets during a downturn. It's suitable for those who have a moderate risk tolerance and want to maintain some level of growth potential.
- **Pause from Both Directions**: If you are lower risk tolerance who prefer to wait out the market volatility without making any changes. This can help avoid selling at a loss and also prevent buying into a falling market.
- **Always Rebalance**: If you are confident in your long-term investment strategy and believe that regular rebalancing will benefit them over time. This is often suited for those with a higher risk tolerance and a longer time horizon before retirement. It's also important to consider the size of cash bucket; if it's sufficient to cover expenses for several years"></i>
                        </span>
                      </label>
                      <div class="select is-primary is-fullwidth">
                        <select  id="fundSelect-stg-pause-opt">
                            <option value="psr">Pause From Risky to Safer Only</option>
                            <option value="pbr">Pause Both Direction</option>
                            <option value="none">Always Rebalance</option>
                          </select>
                      </div>
                    </div>
                  </div>

                <div id='rebals-container' class="rebals-container is-hidden">
                    <div class="columns is-multiline rebal-item">
                        <div class="column">
                            <label class="label ">Risky Fund Allocation %                                
                                <span class="icon">
                                    <i class="fas fa-question-circle" title="'Risky Fund Allocation' refers to the portion of an investment portfolio allocated to Risky Fund"></i>
                                </span>
                            </label>
                            <input class="input is-primary risk-ratio" name="risk-ratio" min=1 type="number" placeholder="e.g. 60" onChange="validateFirstRatio(this)">
                        </div>
                        <div class="column">
                            <label class="label">Safer Fund Allocation %                                                               
                                <span class="icon">
                                    <i class="fas fa-question-circle" title="'Safer Fund Allocation' refers to the portion of an investment portfolio allocated to Safer Fund"></i>
                                </span>
                            </label>
                            <input disabled class="input stg-ratio-second" min=1 type="number" >
                        </div>
                        <div class="column">
                            <label class="label">Start Age for Period</label>
                            <input class="input is-primary stg-starting-age" name="stg-starting-age" type="number" placeholder="When the rebalancing started?" onChange="onChangeStgStartYear(this)">
                        </div>
                        <div class="column">
                            <label class="label">End Age for Period</label>
                            <input class="input is-info stg-until-age" type="number" placeholder="When the rebalancing ended?" value="100" onChange="validateStgUntilYear(this)">
                        </div>
                        <div class="column">
                            <label class="label">Rebalance Frequency (Years)     
                            </label>                            
                            <div class="field has-addons">
                                <div class="control is-expanded" >
                                    <input class="input is-primary stg-every-few-years" name="stg-every-few-years" type="number" min="1" placeholder="Is this rebalancing occurrance years" value="1"  onChange="validateStgFewYear(this)">
                                </div>
                                <div class="control" id="stg-add-rebal" >
                                    <button class="icon-button add-rebal " aria-label="Add Growth"  title="Add a different rebalance ratio for another period">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                </div>
                                <div class="control" >
                                    <button class="icon-button delete-rebal icon-placeholder" aria-label="Delete Growth" title="Remove this rebalance ratio">
                                      <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/strategic/strategic.js') }}">

</script>
